body {
    background: rgb(71, 228, 162);
}


aside {
    position: sticky;
    float: left;
    background: url("https://w.forfun.com/fetch/8a/8a806abff97fcb53a3826996839971b5.jpeg") 50%;
    width: 20%;
    padding: 3%;
    height: 100vh;
    border-right: 3px solid rgb(235, 48, 27);
}


.control_panel {
    color: lightcoral;
    margin-left: 10px;
    font-size: 30px;
    list-style: none;
    float: left;
}


.dog {
    float: left;
    width: 250px;
}


.menu {
    font-size: 55px;
    color: rgb(131, 120, 238);
    float: left;
}


.dog_main {
    height: 1000px;
    width: 300px;
}


li {
    color: rgb(255, 255, 255);
    display: block;
    margin-top: 20px;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.75, -1, 0.21, -1);
}


li :hover, a :hover {
    color: #ffae00;
    transform: scale(1.15);
    text-decoration: None;
}
