body {
    background: #DDD0C8;
}


aside {
    position: sticky;
    float: left;
    background: url("https://w.forfun.com/fetch/8a/8a806abff97fcb53a3826996839971b5.jpeg") 50%;
    height: 100vh;
    width: 20%;
    padding: 3%;
    border-right: 3px solid rgb(235, 48, 27);
}


.control_panel {
    line-height: 50px;
    color: lightcoral;
    margin-left: 15px;
    font-size: 30px;
    list-style: none;
    float: left;
}


.dog {
    float: left;
    width: 250px;
}


.menu {
    font-size: 55px;
    color: rgb(131, 120, 238);
    float: left;
}


li {
    color: rgb(255, 255, 255);
    display: block;
    margin-top: 30px;
    animation-duration: 500ms;
    transition-timing-function: cubic-bezier(0.75, -1, 0.21, -1);
}


li :hover, a :hover {
    color: #ffae00;
    transform: scale(1.20);
    text-decoration: None;
}


.anons_1 {
    margin-left: 24.3%;
    color: #c6b241;
    padding-left: 100px;
    font-size: 70px;
    padding: 60px;
}


.dark_purple {
    background: #9f3e9a;
    height: 700px;
}


.interesting {
    width: 550px;
}


.inline_txt_and_img {
    display: flex;
    align-items: center;
    margin-top: 50px;
}


.quest {
    line-height: 90px;
    font-size: 50px;
    color: #ffc0cb;
}


.discribe {
    font-size: 35px;
    color: #ffc0cb;
}


.dark_pink {
    background: #f66a98;
    height: 1000px;
}


.anons_2 {
    margin-left: 24.3%;
    color: #8b00ff;
    padding-left: 100px;
    font-size: 70px;
    padding: 60px;
}


.meme {
    height: 600px;
}


.popular {
    font-size: 29px;
    color: #3e273d;
}


.light_pink {
    background: #ff8997;
    height: 900px;
}


.reasons {
    display: block;
    font-size: 35px;
    line-height: 15px;
}


.inline_txt_and_img_2 {
    justify-content: space-between;
    display: flex;
    margin-top: 50px;
}


.anons_3 {
    margin-left: 24.3%;
    color: #87cefa;
    padding-left: 100px;
    font-size: 70px;
    padding: 60px;
}


.read {
    height: 500px;
}


.reasons li {
    color: #ffff00;
}


.blue {
    background: #64adf1;
    height: 800px;
}


.anons_4 {
    margin-left: 24.3%;
    color: #cd4a4c;
    padding-left: 100px;
    font-size: 70px;
    padding: 60px;
}


.anime {
    display: flex;
    justify-content: space-around;
}


.all_imgs {
    border-radius: 50px;
    height: 400px;
}


.all_txt {
    color: #ffffff;
    font-size: 30px;
}


.facts {
    margin-left: 30%;
    width: 1000px;
    font-size:30px;
    display: block;
    color: #eae6ca;
}


.anons_5 {
    margin-left: 24.3%;
    color: #eae6ca;
    padding-left: 100px;
    font-size: 70px;
    padding: 60px;
}


.last_floor {
    height: 5850px;
    background: #c15aa8;
}


.px {
    width: 1000px;
}


.fact {
    margin-top: 120px;
}


.footer {
    position: static;
    display: flex;
    justify-content: space-evenly;
    height: 150px;
    background: black;
}


.footer_txt {
    margin-left: 45px;
    font-size: 50px;
    padding: 30px;
    color: white;
}


.fork {
    color: white;
    font-size: 50px;
}


.all_comments {
    font-size: 30px;
    margin-left: 15%;
    float: left;
    margin-top: 110px;
    text-align: center;
    width: 50%;
}


.akame {
    height: 1000px;
    border-bottom: 4px solid #aaa;
}


.anons_4_anime {
    margin-left: 24.3%;
    color: #102c54;
    padding-left: 100px;
    font-size: 70px;
    padding: 60px;
    text-shadow: 5px 5px #558ABB;
}


.main_heroes {
    display: flex;
    justify-content: space-around;
    border-bottom: 4px solid #aaa;
}


.all_imgs_2 {
    border-radius: 50px;
    width: 600px;
    margin-top: 40px;
}


.div_title {
    display: flex;
    justify-content: space-around;
    height: 280px;
    border-bottom: 4px solid #aaa;
}


.title_2_others {
    margin-left: 24.3%;
    color: #102c54;
    padding-left: 100px;
    font-size: 70px;
    padding: 60px;
}


.opinion {
    color: #102c54;
    font-size: 20px;
    margin-bottom: 60px;
}


.container {
    width: 600px;
}


.plot_container {
    margin-left: 50%;
    width: 700px;
    display: block;
    margin-bottom: 60px;
}


.plot {
    border-bottom: 4px solid #aaa;
}


.anons_4_anime_rate {
    color: #102c54;
    padding-left: 100px;
    font-size: 70px;
    padding: 60px;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;

}