body {
    background: #ff9e47;
}


aside {
    position: sticky;
    float: left;
    background: url("https://w.forfun.com/fetch/8a/8a806abff97fcb53a3826996839971b5.jpeg") 50%;
    width: 20%;
    padding: 3%;
    height: 100vh;
    border-right: 3px solid rgb(235, 48, 27);
}


.control_panel {
    display: block;
    font-size: 30px;
    float: left;
    color: #ffffff;
}


.dog {
    float: left;
    width: 150px;
}


.menu {
    float: left;
    font-size: large;
}