{% extends 'general/pattern.html' %}
{% block title %}Расширенный коммент{% endblock %}
{% block content %}
    <div class="all_comments">
        <form method="post">
            <h1>{{ comment.comment }}</h1>
            <h5>{{ comment.date }}</h5>
        </form>
        <a href="{% url 'comments_update' comment.id %}" type="submit" class="btn btn-info">Изменить</a>
        <a href="{% url 'comments_delete' comment.id %}" type="submit" class="btn btn-warning">Удалить!</a>
    </div>
{% endblock %}