{% extends 'general/pattern.html' %}
{% load static %}

{% block title %}Убийца Акаме!{% endblock %}

{% block content %}
    <div class="div_title">
        <h1 class="anons_4_anime"><b>Аниме:</b> Убийца Акаме</h1>
        <h2 class="anons_4_anime_rate">Моя оценка: ★★★★☆</h2>
    </div>
    <h1 class="title_2_others">Главный герой:</h1>
    <div class="main_heroes">
        <div class="container">
            <img class='all_imgs_2' src="static/general/imgs/tacumi.jpg" alt="tacumi">
            <h2 class="all_txt">Тацуми</h2>
            <p class="opinion">Он парень, который покинул свою деревню, чтобы поехать в столицу, чтобы заработать деньги. Изначально путешествует с двумя спутниками Саё и Иэясу, но они расстались, после того как он узнает, что они умерли он вступает в Ночной рейд.</p>
        </div>
    </div>
    <div class="plot">
        <h1 class="title_2_others">Немножко сюжета</h1>
        <div class="plot_container">
            <img class='all_imgs_2' src="static/general/imgs/1wyeacya.png" alt="akame">
            <p class="opinion">Как это часто присуще сёнэн аниме, весь сюжет строится на постоянных сражениях. Но в Akame ga Kill! есть одна принципиально важная особенность — в результате этих сражений герои действительно умирают. Благодаря этому достигаются сразу две цели: во-первых, действующие лица постоянно сменяются и не успевают надоесть; а во-вторых, создается угроза жизни любимых персонажей, так как исход боя не известен, и герой в любой момент может умереть. Это добавляет интриги и заставляет наблюдать за схватками с удвоенным интересом. При просмотре я прошел четыре стадии:</p>
            <p class="opinion">1). Стадия скуки — длилась первую серию, так как я ожидал увидеть самый что ни на есть обычный сёнэн…</p>
            <p class="opinion">2). Стадия заинтересованности — … но концовка первой серии резко заставила меня поменять своё мнение. Всё-таки не часто увидишь, чтобы в качестве главных героев выступал отряд убийц, столь безжалостно уничтожающих своих врагов во имя общего блага.</p>
            <img class='all_imgs_2' src="/static/general/imgs/killers1.jpg" alt="killers">
            <p class="opinion">3). Стадия удивления — удивления от того, что сёнэн аниме можно сделать таким насыщенным и интересным. А всего-то и требовалось: убрать битвы, длящиеся по несколько часов; сделать интересных персонажей; и, наконец, не жалея, их убивать. Казалось бы, как просто! Однако мало кто до «Убийца Акамэ» догадывался придерживаться столь простых правил.</p>
            <p class="opinion">4). Стадия восхищения — мне очень понравились последние несколько серий сезона. Вроде бы и нет в них ничего особенного: очередные битвы с очередными жертвами. Но каждая из этих битв сделана потрясающе. При всём желании было трудно предугадать их исход. Я и сам не заметил, как досмотрел аниме до конца — настолько затягивает водоворот событий в концовке «Убийцы Акамэ».</p>
            <img class='all_imgs_2' src="static/general/imgs/flowers.jpg" alt="flowers">
        </div>
    </div>
{% endblock %}
