{% extends 'general/pattern.html' %}
{% load static %}

{% block title %}Убийца Акаме!{% endblock %}

{% block content %}
    <div class="div_title">
        <h1 class="anons_4_anime"><b>Аниме:</b> Коносуба(Этот замечательный мир!)</h1>
        <h2 class="anons_4_anime_rate">Моя оценка: ★★★★★</h2>
    </div>
    <h1 class="title_2_others">Главный герой:</h1>
    <div class="main_heroes">
        <div class="container">
            <img class='all_imgs_2' src="static/general/imgs/liwccdh8.png" alt="liwccdh8.png">
            <h2 class="all_txt">Кадзума Сато</h2>
            <p class="opinion">Главный герой, 16-летний геймер и хикикомори, ставший таким после неудачной влюблённости в подругу детства в средней школе. После смерти попал в параллельный мир, забрав с собой встретившую его богиню Акву. Обладает большим показателем удачи. По мере пребывания в Акселе обучается навыкам мелкой кражи, иссушающего касания, точной стрельбы из лука, острого зрения и скрытности.</p>
        </div>
    </div>
    <div class="plot">
        <h1 class="title_2_others">Немножко сюжета</h1>
        <div class="plot_container">
            <img class='all_imgs_2' src="static/general/imgs/heroes-2-752x440.jpg" alt="4">
            <p class="opinion">Повествование строится из череды безумных ситуаций, в которые раз за разом попадают главные герои. Общей сюжетной линии как таковой нет, к победе над владыкой демонов герои движутся с черепашьей скоростью. Зато подобное построение сюжета отлично позволяет высмеять всевозможные клише из MMORPG. Новый квест — новая возможность для создания нелепых ситуаций. Чего стоят бесполезные скиллы, разучиваемые Аквой, или случайные квесты на уничтожение нелепых монстров с невероятно высокой наградой за их выполнение. Дорогая же в том мире капуста, однако!</p>
            <img class='all_imgs_2' src="static/general/imgs/aqua.jpg" alt="aqua.jpg">
            <p class="opinion">KonoSuba с первых же серий не стесняясь демонстрирует свое истинное лицо — лицо прямолинейной пародийной комедии. Аниме не пытается казаться серьезным, и четко дает понять, что главным его предназначением является развлечение зрителя. Ни о каком глубинном смысле и речи не идет — все просто и понятно. И это здорово. Попытка добавить глубины могла бы полностью разрушить комедийный эффект. Слава богу, что этого не случилось.</p>
            <img class='all_imgs_2' src="static/general/imgs/mlld92gl.png" alt="mlld92gl.png">
            <p class="opinion">KonoSuba борется с серьезностью всеми возможными способами: как только на экране происходит что-то с намеком на трагичность, так тут же это нейтрализуется очередной бредовой ситуацией. «О нет, они прокляли Даркнесс, нам надо идти и спасти её, убив генерала владыки демонов!» — не успел Сато завершить эту фразу, как Аква сняла проклятие. «О нет, демоны убили моих знакомых. Я с ними так и не выпила на прощание!» — сказала Даркнесс, не увидев, что Аква их уже оживила, и что они стоят за её спиной. И подобных примеров в каждой серии навалом.</p>
            <img class='all_imgs_2' src="/static/general/imgs/n413dakc.png" alt="n413dakc.png">
        </div>
    </div>
{% endblock %}