{% extends 'general/pattern.html' %}
{% load static %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <div class="dark_purple">
        <h1 class="anons_1">Общие сведения об аниме(❁´◡`❁)</h1>
        <div class="inline_txt_and_img">
            <h3 class="quest">Шо такое аниме?</h3>
            <img class="interesting" src="static/general/imgs/uwqtrrwr.png" alt="girl">
            <p class="discribe"><b>Аниме</b> – это японские мультфильмы, или анимация.
                Аниме отличается от просто мультфильмов и поэтому выделяется своим собственным названием.
                Японские мультики эти не рассчитаны на детей: их рисуют для подростков, тинейджеров или взрослых.
                Чаще всего они основаны на взрослых комиксах, или книжках, которые состоят из картинок-сюжетов, или на взрослых компьютерных играх.</p>
        </div>
    </div>

    <div class="dark_pink">
        <h1 class="anons_2">Почему именно аниме?¯\_(ツ)_/¯</h1>
        <div class="inline_txt_and_img">
            <img class="meme" src="static/general/imgs/afdyiaor.png" alt="meme">
            <p class="popular">В последние годы сокращается население Японии, что привело к росту экспортно-ориентированной торговли.
                Что это значит?
                А именно то, что производители аниме стали делать контент, который подошёл бы не только землякам, а точнее контент, который подошёл бы для западных вкусов и интересов.
                Так же некоторые начали производить аниме за рубежом, из-за чего очевидно оно и начало набирать свою популярность за пределами своей страны.

                Ещё одной причиной можно назвать то, что "анимешная комедия" визуально будет получше, чем комедия на западе.
                Почему?
                Да потому что такая анимация позволяет лучше выражать комические черты персонажей, смешные ситуации, а так же фоновые зарисовки.
                К тому же аниме, как по моему, переплёвывает кинематографический юмор по очень простой причине.
                В фильмах, в отличии от аниме ( да и в принципе любых других мультипликаций, книгах и т.п) персонажей играют реальные, живые люди.</p>
        </div>
    </div>

    <div class="light_pink">
        <h1 class="anons_3">10 причин полюбить аниме(●'◡'●)</h1>
        <div class="inline_txt_and_img_2">
            <img class="read" src="static/general/imgs/sl72qnpi.png" alt="meme">
            <ul class="reasons">
                <li>1. Сюжет</li>
                <li>2. Графика</li>
                <li>3. Аниме учит(☞ﾟヮﾟ)☞ ☜(ﾟヮﾟ☜)</li>
                <li>4. Погружение в другую культуру</li>
                <li>5. Музыка</li>
                <li>6. Обучение</li>
                <li>7. Простор для творчества</li>
                <li>8. Заряд положительных эмоций</li>
                <li>9. Свобода(¬‿¬)</li>
                <li>10. Продвижение спорта, музыки и творчества</li>
            </ul>
        </div>
    </div>

    <div class="blue">
        <h1 class="anons_4">Самые популярные аниме ever༼ つ ◕_◕ ༽つ</h1>
        <div class="all">
            <div>
                <img class='all_imgs' src="static/general/imgs/main_alt-3a68e6a9ff6dee4ccd4f87900cc0edca.jpeg" alt="d_n">
                <p class="all_txt"> Тетрадь смерти</p>
            </div>
            
            <div>
                <img class='all_imgs' src="static/general/imgs/mmhr5fbr.png" alt="a_o_t">
                <p class="all_txt">Атака титанов</p>
            </div>
            
            <div>
                <img class='all_imgs' src="static/general/imgs/ctsicsyp.png" alt="y_n">
                <p class="all_txt">Твоё имя</p>
            </div>

            <div>
                <img class='all_imgs' src="static/general/imgs/d3va5jvl.png" alt="y_n">
                <p class="all_txt">Токийский гуль</p>
            </div>

            <div>
                <img class='all_imgs' src="static/general/imgs/53hfjj13.png" alt="y_n">
                <p class="all_txt">Ванпанчмен</p>
            </div>
        </div>
    </div>
{% endblock %}