{% extends 'general/pattern.html' %}
{% load static %}

{% block title %}Убийца Акаме!{% endblock %}

{% block content %}
    <div class="div_title">
        <h1 class="anons_4_anime"><b>Аниме:</b> Бездомный бог</h1>
        <h2 class="anons_4_anime_rate">Моя оценка: ★★★★☆</h2>
    </div>
    <h1 class="title_2_others">Главный герой:</h1>
    <div class="main_heroes">
        <div class="container">
            <img class='all_imgs_2' src="static/general/imgs/4sxcaiz6.png" alt="4sxcaiz6.png">
            <h2 class="all_txt">Ято, бог погибели</h2>
            <p class="opinion">Это малоизвестный и нелюдимый бог, у которого даже нет собственного храма. Он оказался никому не нужен, так как в Японии количество убийств стало крайне низким. Чтобы как-то доказать свою значимость и показать себя окружающим, Ято придумывает интересный ход. Он решает помогать случайным встречным и исполнять любые их мечты за смешную цену – всего пять йен.</p>
        </div>
    </div>
    <div class="plot">
        <h1 class="title_2_others">Немножко сюжета</h1>
        <div class="plot_container">
            <img class='all_imgs_2' src="static/general/imgs/lol2-1.jpg" alt="lol2-1.jpg">
            <p class="opinion">Какой-либо общей сюжетной линии в «Бездомном боге» нет. Ходит себе Ято, выполняет немногочисленные просьбы людей, беря с них по пять йен, а в свободное время рубит призраков направо и налево. Проблемы находят Ято сами собой: то другое божество захочет его убить, то откроется портал в другой мир, из которого полезут темные существа, то Юкинэ снова сотворит что-то непотребное. Нелегко живется Ято, ой нелегко…</p>
            <img class='all_imgs_2' src="/static/general/imgs/picture3.jpg" alt="picture3.jpg">
            <p class="opinion">Что качается рисовки: она превосходна. Картинка четкая, красочная и очень, очень стильная. Один раз посмотрев Noragami, вы уже ни с чем его не спутаете. Фоны прорисованы замечательно, но еще больше мне понравился дизайн персонажей. Каждый герой оригинален и не похож на другого, и у каждого есть маленькая деталь, придающая им еще больше шарма: будь то шарфик, маска или хвост. Крупные планы просто превосходны, отлично выбраны ракурсы. И нельзя не отметить прекрасно нарисованные сцены битв, анимация в них замечательная.</p>
            <img class='all_imgs_2' src="static/general/imgs/eyes.jpg" alt="eyes.jpg">
            <p class="opinion">Музыка ничем не уступает рисовке, более того — она отлично дополняет происходящее на экране. Лучше всего это заметно в опенинге: такой филигранной синхронизации картинки и музыки я не видел уже давно. Тот редкий случай, когда опенинг я не перемотал ни разу. Фоновая музыка тоже отличная, студия Bones не пожадничала и создала более чем часовой оригинальный саундтрек, что для 12-серийного аниме очень даже неплохо. К тому же, проходных композиций в нем нет. Однозначно добавляется в мою коллекцию любимых саундтреков.</p>
            <img class='all_imgs_2' src="static/general/imgs/fly (1).jpg" alt="fly">
        </div>
    </div>
{% endblock %}