{% extends 'general/pattern.html' %}
{% load static %}

{% block title %}Убийца Акаме!{% endblock %}

{% block content %}
    <div class="div_title">
        <h1 class="anons_4_anime"><b>Аниме:</b> Ванпанчмен</h1>
        <h2 class="anons_4_anime_rate">Моя оценка: ★★★★★</h2>
    </div>
    <h1 class="title_2_others">Главный герой:</h1>
    <div class="main_heroes">
        <div class="container">
            <img class='all_imgs_2' src="static/general/imgs/a8gaskpe.png" alt="a8gaskpe.png">
            <h2 class="all_txt">Сайтама</h2>
            <p class="opinion">Герой-одиночка, родом из Z-City и совершает героические поступки в качестве хобби. За три года он достаточно натренировался, чтобы победить любого врага одним ударом, но его непревзойденная сила наводит на него скуку.</p>
        </div>
    </div>
    <div class="plot">
        <h1 class="title_2_others">Немножко сюжета</h1>
        <div class="plot_container">
            <img class='all_imgs_2' src="static/general/imgs/FightWithMosquitto.jpg" alt="FightWithMosquitto.jpg">
            <p class="opinion"> первых же минут просмотра на тебя выливается поток эпичности, пафоса и безумия. Эпичность видна во всём: начиная от сцен битв и заканчивая невероятно динамичной музыкой на фоне. И это круто! За сценами сражений можно смотреть с открытым ртом: здания, улицы и даже целые города разлетаются на части почти каждую минуту. Возникает ощущение глобальности происходящего, кажется, что при тебе вершится судьба мира, а ты смотришь за этим через экран монитора.</p>
            <img class='all_imgs_2' src="/static/general/imgs/genos.jpg" alt="genos.jpg">
            <p class="opinion">Какой-либо общей сюжетной линии в One Punch Man нет. Всё крутится вокруг постоянного возникновения новых врагов из ниоткуда, с которыми Саитама со товарищи геройски сражаются. Но при этом не возникает ощущения однообразности сюжета: события сменяются настолько быстро, что просто напросто не успевают надоесть. Аниме смотрится на одном дыхании. В первую очередь, такой эффект достигается за счет разнообразия врагов и сражающихся с ними героев. Благодаря этому все сражения не кажутся одинаковыми, пусть даже и завершаются одним и тем же образом — приходит Саитама и всем раздает по щам.</p>
            <img class='all_imgs_2' src="static/general/imgs/Saitama.jpg" alt="Saitama.jpg">
            <p class="opinion">Так же очень верным решением было введение ранговой системы среди героев и их врагов. Это открывает множество сюжетных ходов и возможностей. Ведь всегда интересно смотреть, как герой прорывается к вершинам рейтинга, показывая всем насколько он крут. Особенно, если ты знаешь, что его текущее положение сильно занижено. Преодоление несправедливости — это именно то, что вызывает у зрителя максимум удовлетворения.</p>
            <img class='all_imgs_2' src="static/general/imgs/lol4.jpg" alt="lol4.jpg">
        </div>
    </div>
{% endblock %}