{% extends 'general/pattern.html' %}
{% load static %}

{% block title %}Убийца Акаме!{% endblock %}

{% block content %}
    <div class="div_title">
        <h1 class="anons_4_anime"><b>Аниме:</b> Мастера Меча Онлайн</h1>
        <h2 class="anons_4_anime_rate">Моя оценка: ★★★★★</h2>
    </div>
    <h1 class="title_2_others">Главный герой:</h1>
    <div class="main_heroes">
        <div class="container">
            <img class='all_imgs_2' src="static/general/imgs/gg4n1bu5.png" alt="gg4n1bu5.png">
            <h2 class="all_txt">Киригая Кадзуто(Кирито)</h2>
            <p class="opinion">Кирито был одним из 1000 счастливчиков, которые приняли участие в закрытом бета-тесте VRMMORPG «Sword Art Online». Ему, вместе с другими топ-игроками, удалось достичь восьмого этажа Айнкрада, после чего бета-тест закончился.</p>
        </div>
    </div>
    <div class="plot">
        <h1 class="title_2_others">Немножко сюжета</h1>
        <div class="plot_container">
            <img class='all_imgs_2' src="static/general/imgs/Asuna1-752x440.jpg" alt="Asuna1-752x440.jpg">
            <p class="opinion">Sword Art Online — аниме, выпущенное компанией A-1 Pictures в 2012 году и состоящее из 96 серий и 3 фильмов. Снято оно на основе серии лайт-новелл (ранобэ). История повествует нам о том, как 10000 тысяч игроков оказались запертыми в мире VRMMORPG (Virtual Reality MMORPG) «Мастера меча онлайн» — первой игры с полным погружением. При помощи особого шлема сознание игроков переносится в виртуальный мир, в то время как их тело остается лежать в реальном мире.</p>
            <img class='all_imgs_2' src="/static/general/imgs/FlowerField.jpg" alt="FlowerField.jpg">
            <p class="opinion">После запуска игры, все зашедшие игроки обнаружили, что в игровом меню отсутствует кнопка выхода. Многие подумали, что это ошибка, однако вскоре создатель игры — Каябо Акихико, развеял все сомнения, заявив, что это не случайность. Чтобы вернуться в реальный мир, игроки должны пройти 100 игровых уровней, и победить всех боссов, которые находятся между ними. Есть еще одно условие — если вы умрете в игровом мире, то умрете и в реальности: шлем на вашей голове пропустит электрический импульс, который повредит мозг. Если же кто-то в реальном мире попробует снять этот шлем — вы также мгновенно умрете. Вот таким неприветливым образом встретила игроков вселенная «Мастеров меча онлайн».</p>
            <img class='all_imgs_2' src="static/general/imgs/IntenseFight.jpg" alt="IntenseFight.jpg">
            <p class="opinion">Главным героем аниме является Киригая Кадзуто, или просто Кирито. Он был бета-тестером SAO, причем самым задротистым из них. Его знания об игре превосходят знания большинства игроков, что позволяет ему прокачиваться быстрее всех. По определенным причинам, которые освещаются в аниме, он решает быть одиночкой, и не вступать ни в какие гильдии и группы. Также он стал первым, кто смог сразить босса во время рейда. В этом сражении ему помогла Юки Асуна (или просто Асуна), которая владеет техникой быстрой рапиры, и её боевой стиль идеально подходит к стилю Кирито. В дальнейшем их пути не раз пересекутся.</p>
            <img class='all_imgs_2' src="static/general/imgs/PatiHard.jpg" alt="PatiHard.jpg">
            <p class="opinion">Таким образом, первая арка SAO повествует о том, как игроки уровень за уровнем проходят мир Айнкрада — 100-уровневой крепости, подвешенной в виртуальном пространстве. Вторая арка — про Alfheim online, вызывает куда меньший интерес, да и без спойлеров про нее рассказать невозможно, поэтому этого я делать не буду.</p>
        </div>
    </div>
{% endblock %}